$bgColor: lightblue;
$txtColor: darkblue;
$defaultFontSz: 18px;
$fontMap: (
	"v-small": 8px,
	"small": 12px,
	"medium": 18px,
	"large": 24px,
	"v-large": 30px
);

/* Use the variables */
body {
	background-color: $bgColor;
	color: $txtColor;
	font-size: $defaultFontSz;
}